{% extends 'Projectapp/base.html' %}

{% block content %}
<h1 style="text-align:center; font-family:Courier New; font-style:bold; color:Black; text-decoration:Underline">
    SURVEY REGARDING USAGE OF ELECTRONIC GADGETS BY PEOPLE OF DIFFERENT AGE GROUPS
</h1>
<br>
<h2 style="margin-left:10px; text-decoration:Underline">ABOUT MY PROJECT</h2>
<p style="margin-left:10px; font-size:30px; font-family:Times New Roman">With the advent of COVID-19 Pandemic, many
    people are forced to stay in their Houses.
    Students can't go to schools and colleges, adults can't go to their place of work. There is a gradual shift from an
    offline medium to an online medium. Students are attending getting their education through online classes and
    because of
    these online classes, the screen time of students has increased suddenly. This is not only affecting their physical
    health,
    but also their mental health and is having serious repercussions. So, I've come up with a project which analyzes
    that how
    the screen time of not only children but also the adults has suddenly increased during this lockdown.
    <br><br>
    Well we all love Binge-watching series on Netflix. Right? And during this Lockdown, besides having online classes,
    we are also watching shows on Netflix and we are well aware of the fact that this is equally harming our eyes! So,
    with the help of facts and figures, I would just like to make people aware about the harmful effects of excessive
    usage of
    electronic gadgets
    <br><br>
    A Survey of 100 people was conducted with the help of Google Forms and the data collected will be Analyzed and will
    be presented in form of graphs and pie.
</p>
{% endblock %}
