{% extends 'Projectapp/base.html' %}

{% block content %}
<h1 style="text-align:center; text-decoration:underline">
    Question-wise analysis of data
</h1>
<br>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart for age when Charts is loaded.
      google.charts.setOnLoadCallback(drawageChart);

      // Draw the pie chart for whether a student or not when Charts is loaded.
      google.charts.setOnLoadCallback(drawstudentChart);

       // Draw the pie chart for the Daksh's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawDakshChart);

      // Draw the pie chart for the Arko's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawArkoChart);

      // Callback that draws the pie chart for age.
      function drawageChart() {

        // Create the data table for age.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Age Category');
        data.addColumn('number', 'Number of people');
        data.addRows([
          ['Below 13', 3],
          ['13-24', 73],
          ['25-50', 19],
          ['50+', 3],
        ]);

        // Set options for age pie chart.
        var options = {title:'number of people from different age groups',
                       width:500,
                       height:300};

        // Instantiate and draw the chart for age.
        var chart = new google.visualization.PieChart(document.getElementById('age_chart_div'));
        chart.draw(data, options);
      }

      // Callback that draws the pie chart for  whether a student or not .
      function drawstudentChart() {

        // Create the data table for  whether a student or not .
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'option');
        data.addColumn('number', 'Number of people');
        data.addRows([
          ['Yes', 75],
          ['No', 23],
        ]);

        // Set options for  whether a student or not .
        var options = {title:'Number of students',
                       width:500,
                       height:300};

        // Instantiate and draw the chart for  whether a student or not .
        var chart = new google.visualization.PieChart(document.getElementById('student_chart_div'));
        chart.draw(data, options);
      }

      // Callback that draws the pie chart for Daksh's pizza.
      function drawDakshChart() {

        // Create the data table for Daksh's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 4],
          ['Onions', 2],
          ['Olives', 2],
          ['Zucchini', 0],
          ['Pepperoni', 3]
        ]);

        // Set options for Daksh's pie chart.
        var options = {title:'How Much Pizza Daksh Ate Last Night',
                       width:400,
                       height:300};

        // Instantiate and draw the chart for Daksh's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('Daksh_chart_div'));
        chart.draw(data, options);
      }

        // Callback that draws the pie chart for Arko's pizza.
      function drawArkoChart() {

        // Create the data table for Arko's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 4],
          ['Onions', 2],
          ['Olives', 2],
          ['Zucchini', 0],
          ['Pepperoni', 3]
        ]);

        // Set options for Arko's pie chart.
        var options = {title:'How Much Pizza Arko Ate Last Night',
                       width:400,
                       height:300};

        // Instantiate and draw the chart for Arko's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('Arko_chart_div'));
        chart.draw(data, options);
      }




</script>
<!--Table and divs that hold the pie charts-->
<table class="columns">
    <tr>
        <td style="text align:center">
            <div id="age_chart_div" style="border: 1px solid #ccc"></div>
        </td>
        <td>
            <h1>Question 1: How old are You?</h1>
            <br>
            <p>The pie chart on the left shows that the people who filled the survey belonged to which age group.</p>
        </td>
    </tr>
    <tr>
        <td>
            <div id="student_chart_div" style="border: 1px solid #ccc"></div>
        </td>
    <tr>
        <td>
            <div id="Daksh_chart_div" style="border: 1px solid #ccc"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="Arko_chart_div" style="border: 1px solid #ccc"></div>
        </td>
    </tr>
</table>
{% endblock %}